<ion-view view-title="법무사 제휴신청">
  <ion-content class="padding">
    <div class="padding reg_dis">
      등기의 신 아이디로 사용될 이메일 주소는<br />
      <i class="red_text">로그인, 비밀번호</i> 찾기에 이용됩니다.
    </div>

    <div class="input_block">
        <h5>기본정보</h5>
      <label class="scrollview_style item item-input basic_infoinput">
        <input ng-model="useremail" type="email" placeholder="이메일주소" style="display:block">
      </label>
      <label class="scrollview_style item item-input basic_infoinput">
        <input type="password" placeholder="비밀번호" style="display:block">
      </label>
      <label class="scrollview_style item item-input basic_infoinput">
        <input ng-model="userpw" type="password" placeholder="비밀번호확인" style="display:block">
      </label>
      <label class="scrollview_style item item-input basic_infoinput">
        <input ng-model="userptel" type="tel" placeholder="휴대전화번호입력" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>상호명</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="usercompany_name" type="text" placeholder="실제상호를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>대표전화</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="usermain_tel" type="tel" placeholder="전화상담번호를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>대표휴대폰</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="usermain_ptel" type="tel" placeholder="문자상담받으실 휴대폰 번호를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>팩스번호</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="usermain_fax" type="tel" placeholder="팩스번호를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>주소</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="useraddress" type="text" placeholder="주소를 입력해 주세요." style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>활동지역1</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="useractivity_area1" type="text" placeholder="활동 지역1을 입력해 주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>활동지역2</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="useractivity_area2" type="text" placeholder="활동 지역2를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>사업자번호</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="userbussiness_num" type="number" placeholder="사업자번호를 입력해주세요" style="display:block">
      </label>
    </div>

    <div class="input_block">
        <h5>인사말</h5>
      <label class="scrollview_style item item-input">
        <input ng-model="userhello_msg" type="text" placeholder="인사말을 입력해주세요" style="display:block">
      </label>
    </div>

    <!--<a href="#/login/main/complete">-->
    <!--</a>-->
    <button class="button button-block button-light bupreg_btn" ng-click="registeremail(useremail,userpw)">
      가입하기
    </button>


  </ion-content>
</ion-view>
