<ion-view view-title="비교견적">
  <ion-nav-title>
      <a style="position:absolute;left:0px" class="button button-icon icon ion-ios-home" href="#/tab/home">
        <p style="font-size:10px;margin-top:-8px">
          홈
        </p>
      </a>
      <i>비교견적신청</i>
  </ion-nav-title>

<ion-content>
  <div class="item item-divider padding-vertical">
      <b>계약서 사진 입력</b> 하시거나 <b>직접 정보 입력</b> 중<br />
      하나만 선택해서 입력하시면 됩니다.
    </div>


    <div id="css_tabs">
        <input id="tab1" type="radio" name="tab" />
        <input id="tab2" type="radio" name="tab" checked="checked" />
        <label for="tab1">계약서 사진 입력</label>
        <label for="tab2">직접 정보 입력</label>

        <div class="tab1_content">
          <div class="list list_style">

            <div class="input_block">
                <h5>소재지</h5>
              <label class="scrollview_style item item-input">
                <input type="text" placeholder="예) 서울특별시 강남구 역삼동 000-0번지" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>매매가액</h5>
              <label class="scrollview_style item item-input">
                <input type="text" placeholder="예) 100,000,000" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>계약서 사진입력</h5>
              <label class="picture_box item item-input">
                <input type="file" id="take-picture" accept="image/*">
              </label>
                <h6 style="color:gray">계약서에 주소와 거래금액 부분을 사진을 촬영하거나 첨부해주세요.</h6>
            </div>

            <div class="input_block">
                <h5>남기실 말</h5>
              <label class="scrollview_style item item-input">
                <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
              </label>
            </div>

            <button class="button button-block button-assertive margin-top" ng-click = "showAlert()">
              견적요청하기
            </button>

          </div>
        </div>


        <div class="tab2_content">


          <div class="list list_style">
            <div class="input_block">
                <h5>부동산 면적</h5>
              <label class="scrollview_style item item-input item-select">
              <select class="inner_scrollview">
                <option selected>전용면적 85제곱미터 이하</option>
                <option>전용면적 85제곱미터 이상</option>
              </select>
              </label>
            </div>


            <div class="input_block">
                <h5>거래금액</h5>
              <label class="scrollview_style item item-input">
              <input ng-model="reqcon.price" type="text" placeholder="예) 100,000,000" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>소재지</h5>
              <label class="scrollview_style item item-input">
                <input ng-model="reqcon.address" type="text" placeholder="예) 서울특별시 강남구 역삼동 000-0번지" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>잔금예정일</h5>
              <label class="scrollview_style item item-input">
                <input ng-model="reqcon.remaindate" type="text" placeholder="예) 예정일을 입력해 주세요" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>채권할인율</h5>
              <label class="scrollview_style item item-input">
                <input ng-model="reqcon.chaesale" type="text" placeholder="예) 채권할인율을 입력해 주세요" style="display:block">
              </label>
            </div>

            <div class="input_block">
                <h5>남기실 말</h5>
              <label class="scrollview_style item item-input">
                <input ng-model="reqcon.comment" type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
              </label>
            </div>

            <button class="button button-block button-assertive margin-top" ng-click = "bup_request(2, reqcon)">
              견적요청하기
            </button>
          </div>
        </div>
    </div>
    <div class="blank">
      
    </div>
</ion-content>
</ion-view>
