<ion-view view-title="법무사 상세보기">
  <ion-content>

      <div class="bup_profile_box">
          <img class="bup_faceimg" ng-src="{{bup.imgs.base64}}">

          <div class="bup_detail_profile">
            <div class="bup_detail_profile_name">대표법무사({{bup.bup_name}})</div>
            <div class="bup_detail_profile_companyname">{{bup.company_name}}</div>
            <div class="bup_bar"></div>
            <div class="bup_detail_profile_address">{{bup.address}}</div>
            <div class="bup_detail_profile_dis">우리집에서 5.8km</div>
          </div>
      </div>

      <div class="bup_explain">
        <h4>법무사 한마디</h4>
        <div class="bup_explain_detail">
          {{bup.hello_msg}}
        </div>
      </div>

      <div class="bup_review_box">


      <div class="bup_review_title row">
        <div class="title col">
          고객후기
        </div>
        <a class="more" href="#/tab/home/{{bupId}}/comment_detail">
          + 더보기
        </a>
      </div>

      <div class="bup_review_point row">
        <div class="point col-10">평점</div>
        <div class="col">
          <i class="star_red icon ion-android-star-outline" ng-repeat="a in range(5-total_rating) track by $index"></i>
          <i class="star_red icon ion-android-star" ng-repeat="a in range(total_rating) track by $index"></i>
          <i class="star_red">{{total_rating}}점</i>
        </div>
        <div>
          평가횟수
          <i class="star_red">{{comments.length}}건</i>
        </div>
      </div>

      <div class="bup_review_detail" ng-repeat="comment in comments" ng-show="$index < 3">
        <div class="row">
          <div class="col detail_id">익명</div>
          <div>
            <i class="star_red icon ion-android-star-outline" ng-repeat="a in range(5-comment.rating) track by $index"></i>
            <i class="star_red icon ion-android-star" ng-repeat="a in range(comment.rating) track by $index"></i>
            <i class="star_red">{{comment.ratingw}}점</i>
          </div>
        </div>

        <div class="row bup_review_content">
          {{comment.content}}
        </div>
      </div>

      <a class="button button-block button-assertive margin-top" href="#/tab/home/{{bupId}}/comments">
        평가하기
      </a>


      <div class="bup_select_box">
        <div class="detail_box">
          <div style="margin-bottom:10px;font-size:15px">등기 업무가 궁금하실때 지금 바로 전화해보세요.</div>
          <div style="font-size:15px;color:red">OTO법무사에 바로 연결됩니다.</div>
        </div>
        <div class="row btn_box">
          <button class="col button button-outline button-assertive msg_btn">
            <i class="star_red icon ion-ios-email-outline"></i>  메시지 보내기
          </button>
          <button class="col button button-outline button-assertive call_btn" >
            <i class="star_red icon ion-iphone"></i>  전화문의
          </button>
        </div>
      </div>

      </div>
      <div class="blank">
      </div>
  </ion-content>
</ion-view>
