<ion-view>
  <ion-nav-title>
      <a style="position:absolute;left:0px" class="button button-icon icon ion-ios-cart" href="#/tab/chats/report">
        <p style="font-size:10px;margin-top:-8px">
          견적서
        </p>
      </a>

      <i>법무사 상담하기</i>

      <a style="position:absolute;right:0px" class="button button-icon ion-gear-a">
        <p style="font-size:10px;margin-top:-6px">
          환경설정
        </p>
      </a>
  </ion-nav-title>

  <ion-content>

  <a class="item item-button-left item-button-right item-assertive searchbar">

    <button class="button button-stable btngps">
      <i class="icon ion-location" style="padding-left:0px"></i>
    </button>

    <label class="item-input-wrapper" style="background-color:white">
    <input style="background-color:transparent" class="item-stable" type="text" placeholder="인천시 계양구"/>
  </label>

    <button class="button button-stable btnsearch">
   <i class="icon ion-ios-search-strong" style="padding-left:2px"></i>
 </button>
 </a>

 <ion-list>
   <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="bup in bups" type="item-text-wrap" href="#/tab/chats/{{$index}}">
     <img ng-src="{{bup.face}}">
     <h2>{{bup.bup_name}}</h2>
     <p style="color:red">{{bup.company_name}}</p>
     <p>5km 떨어짐</p>
     <img style="width:50px;height:50px;top:20px" class="icon" src="img/ico_talkbtn.png" />
   </ion-item>
 </ion-list>
  </ion-content>
</ion-view>
