<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="홈" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="법무사상담" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="비교견적신청" ng-click="logchk('tabreq')" icon-off="ion-android-search" icon-on="ion-android-search">
    <ion-nav-view name="tab-req"></ion-nav-view>
  </ion-tab>

  <ion-tab title="부동산계산기" icon-off="ion-ios-calculator" icon-on="ion-ios-calculator" href="#/tab/calcul">
    <ion-nav-view name="tab-calcul"></ion-nav-view>
  </ion-tab>

  <ion-tab title="이용안내" icon-off="ion-android-textsms" icon-on="ion-android-textsms" href="#/tab/dnghelp">
    <ion-nav-view name="tab-dnghelp"></ion-nav-view>
  </ion-tab>
</ion-tabs>


<script id="login-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-content class="login_bgimg">
      <div class="logo_space">
        <img class="login_logo" src="img/login_logo.png">
      </div>

      <div class="login_input_div">
        <div class="list list-inset login_input_detail">
          <label class="item item-input">
            <i class="icon ion-ios-email-outline placeholder-icon"></i>
            <input ng-model="input_info.email" type="text" placeholder="이메일 주소">
          </label>
          <label class="item item-input">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input ng-model="input_info.password" type="password" placeholder="비밀번호">
          </label>


            <button class="button button-assertive login_btn" ng-click="memberlogin(input_info)">
              로그인
            </button>
            <button class="button button-stable login_btn" ng-click="closeModal()">
              닫기
            </button>

          <div class="no_login">
            로그인이 안되나요?
          </div>

          <button class="button button-block button-light bupreg_btn" ng-click="openagreeModal()">
            회원가입
          </button>

        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<script id="agree-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="item item-left">
      <h1 class="title modaltitle">이용약관</h1>
      <a ng-click="closeagreeModal()" style="color:white;font-weight:600">뒤로가기</a>
    </ion-header-bar>
    <ion-content class="padding">
      <h4>제1장 총칙</h4>
      <h5>제1조(목적)</h5>
      이 약관은 등기의신(이하 회사)가 온라인으로 제공하는 법무정보 및 이에 부수된 제반 서비스의 이용과 관련하여 회사와 회원 간의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

      <h5>제2조(용어의 정의)</h5>
      A. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다. </br>
      1. 회사라 함은 온라인을 통

      <button class="button button-block button-light bupreg_btn" ng-click="openregModal()">
        동의 후 가입합니다.
      </button>
    </ion-content>
  </ion-modal-view>
</script>

<script id="reg-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="item item-left">
      <h1 class="title modaltitle">회원가입</h1>
      <a ng-click="closeregModal()" style="color:white;font-weight:600">뒤로가기</a>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="padding reg_dis">
        등기의 신 아이디로 사용될 이메일 주소는<br />
        <i class="red_text">로그인, 비밀번호</i> 찾기에 이용됩니다.
      </div>

      <div class="input_block">
          <h5>이메일주소</h5>
        <label class="scrollview_style item item-input basic_infoinput">
          <input ng-model="user.email" type="email" placeholder="이메일주소" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>비밀번호</h5>
          <label class="scrollview_style item item-input basic_infoinput">
            <input type="password" placeholder="비밀번호" style="display:block">
          </label>
          <label class="scrollview_style item item-input basic_infoinput">
            <input ng-model="user.password" type="password" placeholder="비밀번호확인" style="display:block">
          </label>
      </div>

      <div class="input_block">
          <h5>이름</h5>
        <label class="scrollview_style item item-input">
          <input ng-model="user.user_name" type="text" placeholder="성함을 입력해주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
        <h5>전화번호</h5>
        <label class="scrollview_style item item-input basic_infoinput">
          <input ng-model="user.ptel" type="tel" placeholder="휴대전화번호입력" style="display:block">
        </label>
      </div>


      <!--<a href="#/login/main/complete">-->
      <!--</a>-->
      <button class="button button-block button-light bupreg_btn" ng-click="registeremail(user)">
        가입하기
      </button>
    </ion-content>
  </ion-modal-view>
</script>
