<ion-view>
  <ion-nav-title>
    <a style="position:absolute;left:0px" class="button button-icon icon ion-ios-home" href="#/tab/home">
      <p style="font-size:10px;margin-top:-8px">
        홈
      </p>
    </a>
    <i>부동산계산기</i>
  </ion-nav-title>
<ion-content>
<div class="cal_back">
  <a href="#/tab/calcul/cal1sise"><img class="cal_btn" src="img/cal_btn1_ju.png"/></a>
  <a href="#/tab/calcul/cal2yang"><img class="cal_btn" src="img/cal_btn2_yang.png" /></a>
  <a href="#/tab/calcul/cal3chui"><img class="cal_btn" src="img/cal_btn3_chui.png" /></a>
  <a href="#/tab/calcul/cal4jung"><img class="cal_btn" src="img/cal_btn4_jung.png" /></a>
  <a href="#/tab/calcul/cal5je"><img class="cal_btn" src="img/cal_btn5_je.png" /></a>
  <a href="#/tab/calcul/cal6myun"><img class="cal_btn" src="img/cal_btn6_myun.png" /></a>
  <p style="text-align:left;font-size:12px;color:gray">
    고객의 부동산거래 편의를 제공하기위해 만들어진 부동산 계산기입니다.<br />
    따라서 실제와 차이가 발생할수 있습니다.
  </p>
</div>

</ion-content>
</ion-view>
