<ion-view view-title="환경설정">
  <ion-content>
    <div class="list">

  <div class="item item-divider">
    로그인정보
  </div>

  <a class="item item-icon-right" href="#" >
    회원정보수정
     <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-right" href="#">
    로그아웃
    <i class="icon ion-chevron-right"></i>
  </a>
  <div class="item item-toggle" href="#">
    자동로그인
    <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </div>

  <div class="item item-divider">
    알림
  </div>

  <div class="item item-toggle">
    푸시알림받기
    <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </div>

  <div class="item item-divider">
    탈퇴
  </div>
  <a class="item item-icon-right" href="#" >
    <div class="red_text">탈퇴하기</div>
  </a>

</div>
  </ion-content>
</ion-view>
