<ion-view view-title="내 견적서">
  <ion-nav-title>
    <div style="width:100%;text-align:center">
          <i style="font-size:25px">내 견적서</i>
  </div>
  </ion-nav-title>

<ion-content>

    <div id="css_tabs">
        <input id="tab1" type="radio" name="tab" checked="checked" />
        <input id="tab2" type="radio" name="tab" />
        <label for="tab1">내 견적서 목록</label>
        <label for="tab2">찜한 법무사 목록</label>

        <div class="tab1_content report_box">
          <div class="report_detail_box">
            <div class="text_box">
              <div class="title">
                부동산소유권등기
              </div>
              <div class="sub_title">
                2016년 3월 21일 / 현재지원 법무사 <i class="red_text">12명</i>
              </div>
           </div>
           <div class="btn_box row">
             <div class="col delete_btn">
               삭제하기
             </div>
             <div class="col confirm_btn">
               지원 법무사 확인
             </div>
           </div>
          </div>

          <div class="report_detail_box">
            <div class="text_box">
              <div class="title">
                부동산소유권등기
              </div>
              <div class="sub_title">
                2016년 3월 21일 / 현재지원 법무사 <i class="red_text">12명</i>
              </div>
           </div>
           <div class="btn_box row">
             <div class="col delete_btn">
               삭제하기
             </div>
             <div class="col confirm_btn">
               지원 법무사 확인
             </div>
           </div>
          </div>
        </div>


        <div class="tab2_content report_box">
          <div class="report_detail_box" ng-repeat="bup in bups">
            <div class="bup_box row">
              <div class="col">
                <img class="bup_face" ng-src="{{bup.face}}">
              </div>
              <div class="col col-75">
                <div class="bup_name">대표법무사({{bup.name}})</div>
                <div class="bup_company">{{bup.company}}</div>
                <div class="bup_bar"></div>
                <div class="bup_address">인천 서구 청라루비로 69</div>
              </div>
            </div>

           <div class="btn_box row">
             <div class="col delete_btn">
               업체정보
             </div>
             <div class="col confirm_btn">
               삭제하기
             </div>
           </div>
          </div>

        </div>
    </div>

</ion-content>
</ion-view>
