<ion-view>
  <ion-nav-title>
    <div style="padding-top:10px; width:100%;text-align:center">
      <a style="position:absolute;left:0px;top:17px" class="button button-icon ion-arrow-left-c">
      </a>

          <i style="font-size:25px">부동산계산기</i>

        <a style="position:absolute;right:0px;top:9px" class="button button-icon icon ion-ios-cart">
          <p style="font-size:10px;margin-top:-8px;font-weight:bolder">
            견적서
          </p>
        </a>
    </div>
  </ion-nav-title>
<ion-content>
<div class="col cal_back">
  <img class="cal_btn" src="img/cal_btn1_ju.png" />
  <img class="cal_btn" src="img/cal_btn2_yang.png" />
  <img class="cal_btn" src="img/cal_btn3_chui.png" />
  <img class="cal_btn" src="img/cal_btn4_jung.png" />
  <img class="cal_btn" src="img/cal_btn5_je.png" />
  <img class="cal_btn" src="img/cal_btn6_myun.png" />
  <p style="text-align:left;font-size:12px;color:gray">
    고객의 부동산거래 편의를 제공하기위해 만들어진 부동산 계산기입니다.<br />
    따라서 질제와 차이가 발생할수 있습니다.
  </p>
</div>

</ion-content>
</ion-view>
