<ion-view>
  <ion-nav-title>
    <div style="width:100%;text-align:center;margin-top: 10px">
      <a style="position:absolute;left:0px;top:17px" class="button button-icon ion-arrow-left-c" href="#/tab/home">
      </a>

          <i style="font-size:25px">법무사 상담하기</i>

        <a style="position:absolute;right:0px;top:9px" class="button button-icon icon ion-ios-cart" href="#/tab/chats/report">
          <p style="font-size:10px;margin-top:-8px;font-weight:bolder">
            견적서
          </p>
        </a>
    </div>
  </ion-nav-title>

  <ion-content>

  <a class="item item-button-left item-button-right item-assertive searchbar">

    <button class="button button-stable btngps">
      <i class="icon ion-location" style="padding-left:0px"></i>
    </button>

    <label class="item-input-wrapper" style="background-color:white">
    <input style="background-color:transparent" class="item-stable" type="text" placeholder="인천시 계양구"/>
  </label>

    <button class="button button-stable btnsearch">
   <i class="icon ion-ios-search-strong" style="padding-left:2px"></i>
 </button>
 </a>

 <ion-list>
   <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="bup in bups" type="item-text-wrap" href="#/tab/chats/{{bup.id}}">
     <img ng-src="{{bup.face}}">
     <h2>{{bup.name}}</h2>
     <p style="color:red">{{bup.lastText}}</p>
     <p>5km 떨어짐</p>
     <img style="width:50px;height:50px;top:20px" class="icon" src="img/ico_talkbtn.png" />

     <ion-option-button class="button-assertive" ng-click="remove(bup)">
       Delete
     </ion-option-button>
   </ion-item>
 </ion-list>
  </ion-content>
</ion-view>
