<ion-view view-title="내 정보">
  <ion-content class="padding">
    <div class="list list_style">
      <div class="input_block">
          <h5>프로필 사진</h5>
            <!--<label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*" ng-click="uploadPhoto()">
            </label>
            <label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*">
            </label>
            <label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*">
            </label>-->


            <!--<div>
              <img ng-src="{{user.imgs.base64}}" width="100">
              <a class="btn btn-danger btn-block" ng-click="deleteimg()">Delete</a>
            </div>-->


            <!--<input type="file" name="file" class="inputimg" id="nameImg" accept="image/*" onchange="angular.element(this).scope().uploadFile(this)">-->
            <div>
              <img ng-src="{{user.imgs.base64}}" />
              <a class="btn btn-danger btn-block" ng-click="deleteimg()">Delete</a>
            </div>

            <input id="inputImage" type="file" accept="image/*" image="image1" resize-max-height="250" resize-max-width="250" resize-quality="0.7" resize-type="image/jpg" />

      </div>

      <div class="input_block">
          <h5>상호명</h5>
        <label class="scrollview_style item item-input">
          <input ng-model="user.company_name" type="text" placeholder="예) 서울특별시 강남구 역삼동 000-0번지" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>대표전화</h5>
        <label class="scrollview_style item item-input">
          <input ng-model="user.main_tel" type="text" placeholder="예) 100,000,000" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>대표휴대폰</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.main_ptel" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>팩스</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.main_fax" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>소재지</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.address" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>활동지역1</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.activity_area1" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>활동지역2</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.activity_area2" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>사업자번호</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.bussiness_num" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>인사말</h5>
        <label class="scrollview_style item item-input">
          <input type="text" ng-model="user.hello_msg" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>



      <button class="button button-block button-assertive margin-top" ng-click ="modifyinfo()">
        수정완료
      </button>
      <div class="blank">
      </div>
    </div>
  </ion-content>
</ion-view>
