<ion-view view-title="내 정보">
  <ion-content class="padding">
    <div class="list list_style">
      <div class="input_block">
          <h5>업체사진</h5>
          <div class="row">
            <label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*">
            </label>
            <label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*">
            </label>
            <label class="picture_box item item-input col">
              <input type="file" id="take-picture" accept="image/*">
            </label>
          </div>
      </div>

      <div class="input_block">
          <h5>상호명</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 서울특별시 강남구 역삼동 000-0번지" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>대표전화</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 100,000,000" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>대표휴대폰</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>팩스</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>소재지</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>활동지역1</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>활동지역2</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>사업자번호</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>

      <div class="input_block">
          <h5>인사말</h5>
        <label class="scrollview_style item item-input">
          <input type="text" placeholder="예) 담보대출여부를 입력해 주세요" style="display:block">
        </label>
      </div>



      <button class="button button-block button-assertive margin-top" ng-click = "showAlert()">
        수정완료
      </button>

    </div>
  </ion-content>
</ion-view>
