.tabs-striped.tabs-color-stable .tab-item.tab-item-active{
  margin-top: 0px;
  border: 0px;
}

.tabs-striped.tabs-color-stable .tab-item.activated{
  margin-top: 0px;
  border: 0px;
}

.tabs-color-assertive .tab-item{
  color: #aaaaaa;
  opacity: 1;
  padding-top: 8px;
  font-size: 15px;
}

.tabs{
  height: 65px;
  padding-top: 0px;
}

.tabs-color-assertive .tab-item.tab-item-active{
  background-color: #202020;
}

.has-header{
  top:60px;
}

.bar .title{
  height: 60px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.bar{
  height: 60px;
  background-color: red;
}

.row{
  padding : 0px;
}

.col{
  padding : 0px;
}

.item-icon-right .icon{
  font-size: 20px;
}
