<ion-view view-title="법무사 제휴신청">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button hide-back-button="true">
    </ion-nav-back-button>
    법무사 제휴신청
  </ion-nav-bar>
  <ion-content class="main_bg padding">

    <div class="logo_space">
      <img class="login_logo" src="img/login_logo.png">
    </div>

    <div class="complete_dis">
      가입해 주셔서 감사합니다.<br />
      영업일 기준 1~2일 이내로 검토 후 결과를<br />
      <i class="red_text">이메일</i>로 알려드립니다.
    </div>

    <a href="#/login/main">
      <button class="button button-block button-light bupreg_btn">
        메인으로
      </button>
    </a>

  </ion-content>
</ion-view>
