<ion-view view-title="내가 보낸 견적">
  <ion-content class="main_bg">

    <div class="filter_box row">
      <div class="col filter_num">
          총 134건
      </div>
      <div class="col-65">
          <div class="row">
            <button class="button button-stable col filter_btn"> 거리순 </button>
            <button class="button button-stable col filter_btn"> 시간순 </button>
            <button class="button button-stable col filter_btn"> 금액순 </button>
          </div>
      </div>
    </div>

    <div class="list_reqcard">
      <div class="reqcard">
        <div>
            엄진섭섭님의 부동산 소유권 등기
        </div>
        <div>
            인천광역시 > 남구 / 거래금액 : 1,000,000 원
        </div>
        <div>
            견적요청일자 15.06.22. 18:30 / 견적작성일자 15.07.22. 19:30
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
