<ion-view view-title="홈">
  <ion-nav-title>
          <a style="position:absolute;left:0px" class="button button-icon icon ion-location" href="#/tab/home/report">
            <p style="font-size:10px;margin-top:-8px">
              위치
            </p>
          </a>
          <img src="img/logo.png" style="padding-top:5px" height="43px"/>
        <a style="position:absolute;right:0px" class="button button-icon ion-refresh" ng-click="refresh()">
          <p style="font-size:10px;margin-top:-6px">
            새로고침
          </p>
        </a>
  </ion-nav-title>

  <ion-content class="main_bg">
    <a class="item item-button-left item-button-right searchbar">

      <button class="button button-stable btngps">
        <i class="icon ion-location" style="padding-left:0px"></i>
      </button>

      <label class="item-input-wrapper" style="background-color:white">
      <input style="background-color:transparent" class="item-stable" type="text" placeholder="인천시 계양구"/>
    </label>

      <button class="button button-stable btnsearch">
     <i class="icon ion-ios-search-strong" style="padding-left:2px"></i>
   </button>
   </a>

    <div class="filter_box row">
      <div class="col filter_num">
          총 {{reports_cnt.length}}건
      </div>
      <div class="col-65">
          <div class="row">
            <button class="button button-stable col filter_btn"> 거리순 </button>
            <button class="button button-stable col filter_btn"> 시간순 </button>
            <button class="button button-stable col filter_btn"> 금액순 </button>
          </div>
      </div>
    </div>

    <div class="list_reqcard">
      <div class="reqcard"   ng-repeat="report in reports">
        <div>
            {{report.name}}님의 부동산 소유권 등기
        </div>
        <div>
            {{report.address}} / 거래금액 : {{report.price}} 원
        </div>
        <div>
            견적요청일자 {{report.date}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
